body {
  background-color: #232938;
  padding: 0px;
  margin: 0px;
}
#container {
  position: absolute;
  top: 200px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 1000px;
}
#nft,
#loader {
  text-align: center;
  max-width: 300px;
  border: 3px solid #ffffff;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

#headerdiv {
  display: block;
  max-width: 1100%;
  position: relative;
  background-color: #222631;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#header {
  margin-top: 400px;
  position: relative;
  color: rgb(247, 247, 247);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  line-height: 2em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  color: #ffffff;
  font-size: 24px;
}

#nftdiv {
  display: none;
}

#demo {
  color: rgb(247, 247, 247);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  line-height: 2em;

  margin-right: 5%;
  margin-left: 5%;
  margin-top: 75px;
  font-size: 18px;
  text-align: left;
}
