
body{
    background-color: rgb(35, 41, 56);
}


#demo {
    color: rgb(247, 247, 247);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    line-height: 2em;
    padding-right: 50px;
    padding: 70px;
    padding-top: 50px;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 50px;
    font-size: 18px;
    text-align: left;
  
}

